body{
 background-image: url("./images/Password.png");
}
header{
    color:grey;
    height: 90px;
    font-size: 20%;
}
h1{
    color:darkgray;
    font-weight: bold;
    font-family: 'Special Elite', cursive;
    font-size: 65px;
    
}

h2{
    color:black;
    font-weight: bold;
    font-family: 'Special Elite', cursive;
    text-align: center;
}
#container{
    margin: 0 auto;
    width: 800px;
    background-color: #1b6ca8;
    border: 2px solid darkgray;
    border-radius: 8px;
    
}
#buttonarea{
    display: flex;
    justify-content: space-evenly;
    margin-top: 10px;
    
}
#form{
    display:flex;
    justify-content: center;
    height: 300px;
    border-bottom:solid 2px lightgrey;
   
   
}

#password{

    width: 676px;
    height: 214px;
    border: dashed 2px lightgray;
}
#title{
    border-bottom:solid 2px lightgrey;
    height: 70px;
    
}
    